/* src/components/MapCmponenet.css */
.map-container-wrapper {
    position: relative;
    width: 90%; /* Genişliği ekranın %90'ı olarak ayarlıyoruz */
    margin: 2% auto; /* Üst-alt boşluklar yüzdesel olarak ayarlandı */
}

.map-container {
    height: 60%; /* Haritanın yüksekliği ekranın %60'ı olarak ayarlandı */
    width: 100%; /* Haritanın genişliği parent container'ın %100'ü olacak şekilde ayarlandı */
}

@media screen and (max-width: 768px) {
    .map-container {
        height: 50%; /* Haritanın yüksekliği ekranın %50'si olarak ayarlandı */
    }
}

@media screen and (max-width: 480px) {
    .map-container-wrapper {
        width: 95%; /* Genişliği ekranın %95'i olarak ayarlandı */
    }

    .map-container {
        height: 50%; /* Haritanın yüksekliği ekranın %50'si olarak ayarlandı */
    }
}
