.map-container-wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

.search-bar {
position: absolute;
top: 20px; /* Haritanın üstünden ne kadar uzaklıkta olacağı */
left: 50%;
transform: translateX(-50%);
padding: 10px;
width: 90%;
max-width: 400px;
border: 1px solid #ccc;
border-radius: 4px;
background-color: white;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
z-index: 1000; /* Arama çubuğunu haritanın üstünde görünmesini sağlar */
}

.map-container {
height: 60vh; /* Harita yüksekliği */
}
  