.search-bar {
    position: relative; /* Konumlandırmayı relative yapıyoruz */
    margin: 1rem auto; /* Üstten ve alttan 1rem boşluk bırakıyoruz, ortalanacak şekilde auto */
    padding: 0.5rem; /* İç boşlukları azaltıyoruz */
    width: 60%; /* Ekranın %60'ı genişlik */
    border: 1px solid #ccc; /* Border kalınlığı sabit */
    border-radius: 4px; /* Border radius sabit */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge sabit */
    z-index: 1000; /* Arama çubuğunun diğer bileşenlerin üstünde görünmesini sağlıyor */
}

@media screen and (max-width: 768px) {
    .search-bar {
        width: 80%; /* Daha küçük ekranlarda genişliği %80 olarak ayarlıyoruz */
        padding: 1rem; /* İç boşlukları biraz artırıyoruz */
    }
}

@media screen and (max-width: 480px) {
    .search-bar {
        width: 90%; /* Daha küçük ekranlarda genişliği %90 olarak ayarlıyoruz */
        padding: 1rem; /* İç boşlukları daha da artırıyoruz */
    }
}
